body{
  background-color: yellow;

}
h1 {
  color: navy;
  padding: 50px;
  margin: 25px 50px 75px 100px;
  width: 600px;
  text-shadow: 2px 2px;
}
h3 {
  color: navy;
  margin: 25px 50px 75px 100px;
  width: 600px;
    transform: rotate(20deg);
}
#cheeseburger{
  color: #000080;
  padding: 150px;
  border: 10px solid #000;
  background: #ff4d4d;
  width: 600px;
  margin: 25px 50px 75px 100px;
  border-radius: 25px;

}
#hotdog{
  color: #000033;
  padding: 150px;
  border: 10px solid #000;
  background: #ff3333;
  width: 600px;
  margin: 25px 50px 75px 100px;
  background-color: hsl(50%, 40%, 30%);
}
  #fries{
    color: #9999ff;
    padding: 150px;
    border: 10px solid #000;
    background: #ff1a1a;
    width:600px;
    height: 100px;
    margin: 25px 50px 75px 100px;
    border-radius: 50px;
  }
  #shake{
    color: #b3b3ff;
    padding: 150px;
    border: 10px solid #000;
    background: #ff1a1a;
    width: 600px;
    margin: 25px 50px 75px 100px;
    background-color: hsl(50%, 40%, 30%);
  }
  #nugget{
    color: #e6e6ff;
    padding: 150px;
    border: 10px solid #000;
    background: #ff0000;
    width: 600px;
    margin: 25px 50px 75px 100px;
